:root {
	--primary-color: #808080;
	--font-family-serif: Merriweather, serif;
	--font-family-sans: "Fira Sans", sans-serif;
}

html {
	overflow-y: scroll;
	font-family: var(--font-family-serif);

}

@supports (scrollbar-gutter: stable) {
	html {
		overflow-y: auto;
		scrollbar-gutter: stable;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}

header,
footer {
	font-family: var(--font-family-sans);
}

a {
	color: inherit;
	transition: color linear 0.15s;
}

a:hover {
	color: var(--primary-color);
}

p a {
	text-decoration: none;
	box-shadow: inset 0 -0.12em 0 var(--primary-color);
	-webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

p a:hover {
	box-shadow: inset 0 -1.5em 0 var(--primary-color);
	color: #fff;
}

.wrapper {
	width: min(100% - 4rem, 768px);
	margin-inline: auto;
}
