---
import Projects from "../components/Projects.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Jeff Mancilla"
const description = "Portfolio"
const permalink = Astro.site!.href
---

<BaseLayout title={title} description={description} permalink={permalink}>
	<div class="flex flex-col gap-16">
		<div class="home-container">
			<div class="home-copy">
				<h1 class="text-6xl text-primary font-extrabold mb-8">Hoy 👋</h1>
				<p>
					I'm <strong class="text-primary">Jeff Mancilla</strong>— a full-stack
					developer and technologist based in Houston, TX.
				</p>
				<p>
					Come check out some of <a href="#projects">my projects</a> and let's connect!
				</p>
				<div>
					<a class="btn btn-primary" href="https://linkedin.com/in/jeffmancilla"
						>LinkedIn</a
					>
					<a class="btn btn-neutral" href="https://github.com/jeffmancilla"
						>GitHub</a
					>
				</div>
			</div>
			<div class="hero-image-container">
				<picture>
					<source
						srcset="/assets/jeffm-cartoon.webp"
						media="(min-width: 420px)"
					/>
					<img
						class="hero-image"
						alt="cartoon Jeff in East Asia"
						src="/assets/jeffm-cartoon.webp"
					/>
				</picture>
			</div>
		</div>
		<Projects />
	</div>
</BaseLayout>

<style>
	.home-container {
		min-height: 420px;
		display: flex;
		flex: 1;
		gap: 1;
		justify-content: center;
		align-items: center;
	}

	.home-copy {
		width: min(40ch);
		& > * + * {
			margin-top: 1rem;
		}
	}

	.hero-image-container {
		text-align: center;
	}

	.hero-image-container picture {
		display: block;
		min-height: 250px;
	}

	.caption {
		font-size: 0.8em;
		font-style: italic;
		text-align: left;
	}

	.hero-image {
		width: 100%;
		max-width: 400px;
		margin-bottom: 1em;
	}

	@media (max-width: 1200px) {
		p {
			font-size: 1.2em;
		}

		.hero-image {
			max-width: 400px;
		}
	}

	@media (max-width: 640px) {
		.home-container {
			flex-direction: column;
		}

		.home-copy {
			flex: 0;
			padding-bottom: 2em;
			text-align: center;
		}
	}
</style>
