---
import Layout from '../layouts/portfolio.astro'
import { Button } from '@/components/ui/button'
---

<Layout>
	<section id="about">
		<div>headshot</div>
		<div>
			<p>Hello~</p>
			<p>
				I'm <h1>Jeff Mancilla</h1>
			</p>
			<p>
				lorem ipsum
			</p>
			<p>
				sit dolor amet
			</p>
		</div>
		<div>
			<Button>jeffmancilla@outlook.com</Button>
			<Button>Resume</Button>
		</div>
	</section>
	<section id="skills">
		<h2>Skills</h2>
			<div>
				html
			</div>
			<div>
				css
			</div>
			<div>
				js
			</div>
	</section>
	<section>
		<h2>Projects</h2>
		<div></div>
	</section>
</Layout>
