<footer class="footer p-10 bg-base-200 text-base-content">
	<aside class="flex gap-1 items-end">
		<img
			alt="JeffM Logo"
			src="/assets/jeffm-logo.webp"
			class="w-16 rounded-full inline-block"
		/>
		<div>
			<p>
				&copy; {new Date().getFullYear()} Jeff Mancilla
			</p>
      <p>
				Built with ♥ and <a
					href="https://astro.build"
					target="_blank"
					rel="noopener">Astro</a
				>
			</p>
		</div>
	</aside>
	<nav>
		<h6 class="footer-title">Connect</h6>
		<a class="link link-hover">LinkedIn</a>
		<a class="link link-hover">GitHub</a>
		<a class="link link-hover">Resume</a>
		<a class="link link-hover">Email</a>
	</nav>
	<nav>
		<h6 class="footer-title">Nav</h6>
		<a class="link link-hover">Back to top</a>
		<a class="link link-hover">Projects</a>
	</nav>
</footer>
