<style>
	a {
    font-family: var(--font-family-sans);
		display: flex;
		gap: 1ch;
		align-items: center;
    text-decoration: none;
	}
	img {
		display: inline;
		width: 32px;
    /* opacity: .8; */
		border-radius: 50%;
		&:hover {
		}
	}

	@media screen and (max-width: 520px) {
		img {
			display: none;
		}
	}
</style>

<a href="/">
	<img alt="JeffM Logo" src="/assets/jeffm-logo.webp" />
	<strong>Jeff M .</strong>
</a>
