---
import BaseHead from "../components/BaseHead.astro"

export interface Props {
	title: string
	description: string
	permalink: string
	current?: string
}
const { title, description, permalink, current } = Astro.props
---

<html lang="en">
	<head>
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "G-MGBXTHVLRL")
		</script>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>
	<body>
		<div class="w-full h-svh flex flex-col gap-8">
			<main class="mt-16 wrapper flex-grow">
				<slot />
			</main>

			<footer class="py-16 bg-base-200 text-base-content">
				<div class="footer wrapper">
					<aside class="flex gap-1 items-end">
						<img
							alt="JeffM Logo"
							src="/assets/jeffm-logo.webp"
							class="w-12 rounded-full inline-block"
						/>
						<div>
							<p>
								&copy; {new Date().getFullYear()} Jeff Mancilla
							</p>
							<p>
								Built with ♥ and <a
									href="https://astro.build"
									target="_blank"
									rel="noopener">Astro</a
								>
							</p>
						</div>
					</aside>
					<nav>
						<h6 class="footer-title">Connect</h6>
						<a
							href="https://linkedin.com/in/jeffmancilla"
							class="link link-hover">LinkedIn</a
						>
						<a href="https://github.com/jeffmancilla" class="link link-hover"
							>GitHub</a
						>
						<a
							href="https://docs.google.com/document/d/1QYOL7M5pZ6dbnL-Lf9R5PY2PlbNGh5H-/edit?usp=sharing&ouid=102123137355929190148&rtpof=true&sd=true"
							class="link link-hover">Resume</a
						>
						<a href="mailto:jeffmancilla@outlook.com" class="link link-hover"
							>Email</a
						>
					</nav>
					<nav>
						<h6 class="footer-title">Nav</h6>
						<a href="#top" class="link link-hover">Back to top</a>
						<a href="#projects" class="link link-hover">Projects</a>
					</nav>
				</div>
			</footer>
		</div>
	</body>
</html>
