---
import '@/styles/globals.css'
import { ModeToggle } from '@/components/ModeToggle.tsx'
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme')
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches
			? 'dark'
			: 'light'
	}
	const isDark = getThemePreference() === 'dark'
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark')
			localStorage.setItem('theme', isDark ? 'dark' : 'light')
		})
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ['class'],
		})
	}
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Jeff Mancilla</title>
	</head>
	<body>
		<header>
			<span id="top" class="font-bold">JeffM .</span>
			<div class="flex gap-4">
				<ModeToggle client:load />
			</div>
		</header>
	</body>
	<main>
		<slot />
	</main>
	<footer class="text-secondary-foreground text-sm">
		<nav class="flex justify-between items-end">
			<div class="flex flex-col">
				<a href="https://github.com/jeffmancilla">GitHub</a>
				<a href="https://linkedin.com/in/jeffmancilla">LinkedIn</a>
				<a href="/Jeff-Mancilla-resume.docx">Resume</a>
				<a href="mailto:jeffmancilla@outlook.com">jeffmancilla@outlook.com</a>
			</div>
			<div class="flex flex-col items-end">
				<a href="/#projects">Projects</a>
				<a href="/#top">Back to top</a>
			</div>
		</nav>
		<div class="text-muted text-center mt-4">
			© Jeff Mancilla 2024. Built with Astro
		</div>
	</footer>
</html>

<style>
	* {
		box-sizing: border-box;
	}
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;

		/* font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
		font-weight: normal; */
	}
	body {
		height: 100svh;

		display: flex;
		flex-direction: column;
	}
	main {
		flex-grow: 1;
	}
	header,
	main,
	footer {
		padding: 1rem 0;

		width: min(85vw, 80ch);
		margin: 0 auto;
	}
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	nav a {
		opacity: 0.75;
	}
	nav a:hover {
		color: var(--primary-foreground);
	}
</style>
